.full {
  text-align: center;
  /* position: absolute; */
}
h4 {
  text-align: center;
  /* position: absolute; */
}
input[type=text] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #cdd;
  border-radius: 3px;
}
#myForm{
  /* background-color: grey; */
  margin-right: 20%;
  margin-left: 20%;
  padding-bottom: 100%;
  padding-top: 5%;
}